body {
    font-family: 'Source Sans 3', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
    /* Agregando tipo de letra para las H */
    font-family: 'Fjalla One', sans-serif;
    /* Peso de fuente */
    font-weight: normal;
}
h1 {
    /* Cambiando tamanio de fuente */
    font-size: 40px;
    /* Agregar espaciado de linea */
    line-height: 1.5;
    /* Cambiando el espacio entre las letras */
    letter-spacing: -.2px;
    color: white;
}
h1 strong{
    color: #026fff;
}
.hero{
    height: 300px;
    /* Agregamos un background */
    background-image: url('../images/hero.jpg');
    /* Cambiar color de fondo */
    background-color: #1b2127;
    /* Definimos tamano de background */
    background-size: 500px 300px;
    /* Para no repetir la imagen tipo mosaico */
    background-repeat: no-repeat;
    background-position-x: right;
}
.project-details{
    width: 500px;
}
.project-imageContainer{
    width: 500px;
}
.header {
    background-color: #1b2127;
    /* Dando color a los textos */
    color: white;
}
.header a{
    color: white;
    /* Quitando underline */
    text-decoration: none;
}